src/main/app/unitedflightsbydestination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="unitedflightsbydestinationFlow">
        <logger message="sending the data to http...............#[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="targetReq" value="#[payload]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights/#[message.inboundProperties.'http.query.params'.destination]" method="GET" doc:name="HTTP"/>
        <set-variable variableName="srcResponse" value="#[message.payloadAs(java.lang.String)]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{}]]></dw:set-payload>
            <dw:set-variable variableName="reqTime"><![CDATA[%dw 1.0
%output application/java
---
now as :string {format: "yyyy-MM-dd HH:mm:ss.SSS"}]]></dw:set-variable>
            <dw:set-variable variableName="srcResponse"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <logger message="sending the data...................#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
